
.input-msg {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #8d8f9f;
    margin-top: 4px;
    border-radius: 6px;
  }
  
  .default-input {
    width: 100%;
    input {
      padding: 0px 12px;
      font-family: "Roboto";
      width: 75%;
      margin-left: 13%;
      font-size: 15px;
      color: black;
      border: none;
      outline: none;
      border-radius: 6px;
      border: 1px solid #bbbcc5;
      height: 35px;
    }
  }