.LPTopNav{
    height:  60px;
    width: 100%;
    background-color: #F3F6FA;
    display: flex;
    justify-content: left;
    align-items: center;
}

.LPTopNavText{
    margin-left: 73%;    
}

.Image{
 width: 100%;
 position: absolute;
 background-repeat: no-repeat !important;
 background-attachment: fixed !important;
}

.regbutton{
  background-color: white; 
  border: none;
  color: black;
  text-align: center;
  font-weight: bold;
  border: 2px solid black; 
  width: 140px;
  height: 40px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

.loginbutton{
    background-color: #3076F6;
    border: none;
    color: white;
    font-weight: bold;
    border: 2px solid #3076f6; 
    text-align: center;
    margin-left: 16px;
    width: 140px;
    height: 40px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  }

  .btn-lp{
    margin-right: 16px;
  }