.navbar {
    background-color: #F3F6FA;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 160px;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color: #010747;
    width: 160px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }

  .nav-text-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px 8px 0px;
    list-style: none;
    height: 60px;
  }

  .nav-text-bottom a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 0px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav_title{
      font-weight: 300;
      font-size: 40px;
      width: 50px;
      color: #F3F6FA;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 8px 0px 18px 35px;
      list-style: none;

  }

  .nav-text  a:hover {
    background-color: #3076F6;
  }

  .nav-text-bottom a:hover {
    background-color: #3076F6;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: #010747;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }